{% extends 'base.html.twig' %}

{% block title %}Contact - Saury Christopher Portfolio{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/contact.css') }}"> {% endblock %}

{% block body %}
    <section id="contact">
        <h1 class="text-center mt-4 ct-title">CONTACT</h1>
        <div class="container">
            <div class="row contact-page">
                <div class="info">
                    <div class="info-container">
                        <h6>Email Address</h6>
                        <p class="mail-info">
                            saurychristopher@gmail.com
                        </p>
                    </div>
                    <div class="info-container">
                        <h6>Socials</h6>
                        <p class="socials-links">
                            <a title="Github" target="_blank" href="https://github.com/ChristopherSaury?tab=repositories">
                                <i class="fa-brands fa-square-github"></i>
                            </a>
                            <a title="Linkedin" target="_blank" href="https://www.linkedin.com/in/christopher-saury/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="form-container">
                    <form id="contactForm">
                        <div class="error">
                            <p class="errMessage"></p>
                            <i onclick="closeError()" title="close" class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="successMessage">
                            <p class="successMsg">Message sent successfully !!!</p>
                            <i onclick="closeSuccessMsg()" title="close" class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="form-row">
                            <label for="name">Name</label>
                            <input type="text" class="contact_data" name="name" id="name" placeholder="Name">
                        </div>
                        <div class="form-row">
                            <label for="user-email">Email</label>
                            <input type="email" class="contact_data" name="user-email" id="user-email" placeholder="Email" required>
                        </div>
                        <div class="form-row">
                            <label for="subject">Subject</label>
                            <input type="text" class="contact_data" name="subject" id="subject" placeholder="Subject">
                        </div>
                        <div class="form-row">
                            <label for="message">Message</label>
                            <textarea name="message" class="contact_data" id="message" placeholder="Message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="btn-wrapper">
                            <button id="submit-contact" type="button" onclick="sendContactData(); return false;">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{asset('js/nav-toggle.js')}}"></script>
    <script src="{{asset('js/contact.js')}}"></script>
{% endblock %}
